# Ignore all files except .ipynb and .py files under the 'resource' directory

!*.ipynb
!*.py
files/
*.docx
*.xlsx
*.pptx
*.csv
*.pdf
**/*.doc
**/*.xls
**/*.ppt
**.env
output/
causal/chunksize.ipynb
.vscode/*
__pycache__/
resource/
script/creativity/creativity_eval/