# Ignore all files except .ipynb and .py files under the 'resource' directory
/resource/*
!/resource/*.ipynb
!/resource/*.py
files/
*.docx
*.xlsx
*.pptx
**/*.doc
**/*.xls
**/*.ppt
**.env
output/
causal/chunksize.ipynb
.vscode/*